.container {
    width: 100%;
    height: 500px;
    position: relative;
}

.pointer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* HACK: 冗長な書き方 */
.pointer1 {
    opacity: 0;
}
.pointer2 {
    opacity: 0;
}
.pointer3 {
    opacity: 0;
}
.pointer4 {
    opacity: 0;
}
.pointer5 {
    opacity: 0;
}
.pointer6 {
    opacity: 0;
}
.pointer7 {
    opacity: 0;
}

.buttonBar {
    position: absolute;
    right: 50px;
    bottom: 50px;
}